*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
custom.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.classpath
.factorypath
.project
.settings/
target/*
*/target/*
/*.iml
/.idea/libraries
/.idea
/.settings
/C:/
/target/
*.iml
logback-test.xml
application.yml